.about_company_wrap{
    display: flex;
    width: 1200px;
    margin: 0 auto 0 auto;
    padding: 180px 0px 180px 0px;
}


.about_company_picture{
    object-fit: cover;
    width: 660px;
    height: 560px;
}

.about_company_heading_text{
    position: relative;
    font-family: 'Merriweather',serif;
    font-weight: 700;
    font-size: 52px;
    color: #062a4d;
    line-height: 1.23;
    padding-left: 40px;
    margin-bottom: 24px;
}

.about_company_heading_text::after{
    content: '';
    position: absolute;
    width: 45px;
    opacity: 1;
    border-top: 3px solid  #50aab2;
    box-sizing: border-box;
    bottom: -25px;
    left: 40px;
}

.about_company_main_text{
    text-align: left;
    width: 99%;
    padding-left: 40px;
    padding-top: 23px;
    font-size: 16px;
    font-family: 'Merriweather',serif;
    color: #758799;
    line-height: 1.55;
    box-sizing: content-box;
}

.about_company_button{
    margin-left: 40px;
    margin-top: 60px;
    width: 260px;
    height: 60px;
    border: none;
    background-color: #d0df56;
    padding: 0px;
}

.about_company_button_link{
    text-transform: uppercase;
    text-align: center;
    width: 140px;
    height: 60px;
    padding-left: 60px;
    padding-right: 60px;
    color: #062849;
    font-family: 'Tinos', serif;
    font-weight: 600;
    font-size: 13px;
    vertical-align: middle;
}

.about_company_button:hover{
    background-color: #c5c452;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2)
}