.complectation_title_container{
    width: 100%;
    height: 510px;
}

.complectation_title_wrap{
    position: relative;
    width: 100%;
    height: 100%;
}

.complectation_title_bg_img_wrap{
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0, 0.3);
    z-index: 1;
}

.complectation_title_bg_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
}

.complectation_title_text_wrap{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 1200px;
    margin: 0px auto 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.complectation_title_text{
    color: #fff;
    letter-spacing: 2px;
    font-size: 82px;
    line-height: 1.17;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.complectation_types_container{
    width: 100%;
    background-color: #ebf2f3;
}

.complectation_types_wrap{
    width: 1200px;
    margin: 0px auto 0px auto;
}

.complectation_types_list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 105px;
    padding-bottom: 150px;
}

.complectation_types_item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 112px;
    height: 37px;
    color: #3f3636;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.35;
    font-family: 'Merriweather', serif;
    cursor: pointer;
    padding: 14px 22px;
}

.complectation_types_item:hover{
    background-color: #d0df56
}

.complectation_types_item_active{
    cursor: default;
    background-color: #d0df56
}

.complectation_types_slider_item{
    display: flex;
    padding-top: 90px;
}

.complectation_types_slider_item_img_wrap{
    position: relative;
}

.complectation_types_slider_item_img{
    width: 560px;
    height: 450px;
    object-fit: cover;
}

.complectation_types_slider_item_text_wrap{
    padding-left: 40px;
}

.complectation_types_slider_item_title_text{
    padding-bottom: 28px;
    font-size: 36px;
    line-height: 1.23;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    color: #000;
}

.complectation_types_slider_item_side_text{
    width: 560px;
    font-size: 18px;
    line-height: 1.55;
    font-family: 'Tinos', serif;
    font-weight: 400;
    color: #000;
}

.complectation_types_slider_buttons_wrap{
    position: absolute;
    left: 10px;
    bottom: 15px;
    width: 135px;
    display: flex;
    justify-content: space-between;
}

.complectation_types_slider_button_right{
    width: 50px;
    height: 50px;
    border-radius: 90%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border: none
}

.complectation_types_slider_button_left{
    width: 50px;
    height: 50px;
    border-radius: 90%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border: none
}


.complectation_types_slider_button_left_img{
    width: 20px;
    height: 30px;
    fill: white;
}

.complectation_types_slider_button_right_img{
    width: 20px;
    height: 30px;
}
.complectation_types_slider_indicators{
    display: flex;
    justify-content: center;
    padding-top: 26px;
    padding-bottom: 90px;
    margin: 0px;
    padding-left: 0; 
    height: 10px;
}

.complectation_types_slider_indicators li{
    background-color: #e8e8e8;
    border-radius:90%;
    margin-right: 20px;
    height: 8px;
    width: 8px;
}

.complectation_types_slider_indicators li:hover{
    background-color: #222
}

li.active{
    background-color: #222
}

.complectation_choose_style{
    padding-top: 85px;
    padding-bottom: 40px;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: #000;
    letter-spacing: 2.5px;
    text-align: center;
}

.complectation_types_slider_item_protect{
    display: none;
}
.complectation_types_slider_item_protect_active{
    display: flex;
}